<mat-sidenav-container   class="sidenav-container mat-app-background">
  <mat-sidenav    #drawer class="sidenav" color='primary' fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>


    <mat-nav-list >
      <a mat-list-item routerLinkActive="active"  routerLink="/dashboard/welcome">Inicio</a>
      <a mat-list-item routerLinkActive="active"  routerLink="/dashboard/platillos">Platillos</a>
      <a mat-list-item  (click)="logout()">Cerrar la sesión </a>

     <!-- <a mat-list-item  (click)="logout()">Cerrar la sesión </a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary"  >
      <button  type="button"  aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


